/* Skillset */

.skillset {
    .skillset-item {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .skillset-level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .skillset-level-bar {
        height: 12px;
        background: _palette(fg);
    }
    .skillset-level-bar-inner {
        height: 12px;
        background: _palette(accent1);
    }
}

.collap-container {
    width:100%;
    border:1px solid #d3d3d3;
}

.collap-container div {
    width:100%;
}

.collap-container .collap-header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

.collap-container .collap-content {
    display: none;
    padding : 5px;
}