/* Skillset */

.skillset {
    .skillset-item {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .skillset-level-title {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 12px;
    }
    .skillset-level-bar {
        height: 12px;
        background: _palette(bg-alt);
    }
    .skillset-level-bar-inner {
        height: 12px;
        background: _palette(accent2);
    }
}